[submodule "repo/glfw"]
	path = repo/glfw
	url = https://github.com/glfw/glfw.git
[submodule "repo/glm"]
	path = repo/glm
	url = https://github.com/g-truc/glm.git
[submodule "repo/googletest"]
	path = repo/googletest
	url = https://github.com/google/googletest.git
[submodule "repo/glog"]
	path = repo/glog
	url = https://github.com/google/glog.git
[submodule "repo/stb"]
	path = repo/stb
	url = https://github.com/nothings/stb.git
[submodule "repo/assimp"]
	path = repo/assimp
	url = https://github.com/assimp/assimp.git
[submodule "repo/jsoncpp"]
	path = repo/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
